body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#search-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
}

#search-input:focus {
    border-color: #4CAF50;
}


header nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header nav a {
    display: inline-block;
}

header nav img {
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

header nav img:hover {
    transform: scale(1.1);
}


body > nav {
    display: flex;
    justify-content: center;
    gap: 175px;
    margin-top: 20px;
}

body > nav a {
    display: inline-block;
}

body > nav img {
    width: 100px; 
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

body > nav img:hover {
    transform: scale(1.1);
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
