/* Reset and Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

/* Header */
header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

header .logo {
    width: 120px;
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-menu .search-bar {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 14px;
}

.nav-menu .search-bar:focus {
    outline: none;
    border-color: #4CAF50;
}

.nav-menu .nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    background: #f9f9f9;
    transition: all 0.3s ease;
}

.nav-menu .nav-item:hover {
    background-color: #4CAF50;
    color: #fff;
    transform: scale(1.1);
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

main form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

main form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

main form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

main form input[type="submit"]:hover {
    background-color: #2b712e;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
    position: relative;
    height: 300px;
}

footer .footer-item {
    margin-bottom: 20px;
}

footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer p,
footer a {
    font-size: 14px;
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .footer-item img {
    margin: 10px auto;
    display: block;
    border-radius: 10px;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}

.recommended-products-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 20px;
}
.boven-links {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  .boven-rechts {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .midden-onder {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


